/*css aggiornato anche con bottoni dei sondaggi*/

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #000000;
    background-color: #edecec;
    /*width:70em;
    margin:0 auto;*/
    position: relative;
    /*eventualmente aggiungere width, margin, position*/
}


/*fromattazione di font e vari*/
h1
{
    font-family: 'Outfit', sans-serif;
    font-size: 5.0em;
    text-transform: capitalize;
}

h2
{
    font-family: 'Outfit', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
}

#prezzo
{
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 0.7em;
    margin-bottom:0.7em;
}

p.description
{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 25px;
}

p.info
{
    font-family: 'Outfit', sans-serif;
    line-height: 30px;
}

a
{
    color: #3D59E9;
}


/*formattazione dell'header*/
header
{
    background: #E78C39;
    height: 3.6em;
}

form
{
    display: flex;
    align-items: center;
}

#submit
{
    max-width: 2em;
    max-height: 2em;
}

li.searchbar
{
    padding: 0.52em 0 0.5em 1.05em;
}

ul, li
{
    list-style: none;
}

a.button
{
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    /*margin: 5px 2px;*/
}


input
{
    border-style: hidden;
    border-radius:50px;
    padding: 10px 20px 10px 20px;
}


ul.filtri, li.searchbar
{
    float: left;
}

ul.itemlist
{
    float: right;
}


ul.filtri
{
    padding: 18px 6px 16px 12px;
}

/*per fare i bottoni come su figma separa itemlist in due ul e sistema il padding di entrambi*/
ul.itemlist
{
    padding: 18px 20px 16px 0;
}

ul.filtri li, ul.itemlist li
{
    display: inline-block;
}

ul.filtri a, ul.itemlist a
{
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    display: inline-block;
    border-radius:50px;
    padding: 4px 20px 4px 20px;
}

ul.filtri a:hover, ul.itemlist a:hover
{
    text-decoration:none;
    background-color: #ffffff;
    color: #797575;
}

/*formattazione del main*/
main
{
    position: relative;
    width: 72em;
    margin: auto;
}

/*formattazione dei banner*/
#colonna_sx
{
    width:36em;
    text-align: left;
    float: left;
}

#box_banner
{
    width: 72em;
    height: 30em;
    background-image: linear-gradient(to bottom, #F4E7DB 0%, #bbb9b7 100%);;
    text-align: center;
    margin: 70px auto;
}

#banner
{
    background: transparent no-repeat;
    height: 30em;
    max-width: 72em;
}

/*formattazzione colonna di sinistra*/
#box_imm2
{
    width: 36em;
    height: 30em;
    background-image: linear-gradient(to bottom, #F4E7DB 0%, #bbb9b7 100%);;
    text-align: center;
    margin: 50px 0 0 0;
}

#imm2
{
    background: transparent no-repeat;
    height: 30em;
    max-width:36em;
}


#segnala
{
    text-decoration: none;
    font-weight: 600;
    margin: 0 0 0 239px; /*forse con l'aside cambia*/
}

/*formattazione colonna di destra*/
aside
{
    width: 36em;
    float: right;
    text-align: right;
}

#box_bigl
{
    float: right;
    text-align: center;
    border: solid 3px #E78C39;
    background-color: #FFF7EB;
    border-radius: 20px;
    width: 16.7em;
    margin-top: 0.3em;
    margin-bottom: 0.8em;
}

#btn_biglietteria
{
    display: inline-block;
    margin-bottom: 1em;

}

#btn_biglietteria a
{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    border-style: solid;
    border-width: 2px;
    border-color: #B56113;
    border-radius: 25px;
    background-color: #E78C39;
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
}

#btn_biglietteria a:active
{
    color: #dadada;
    background-color: #B56113;
}

#nav_dx
{
    clear: both;
    float:right;
    text-align: center;
}

ul.link_dx li
{
    display: inline-block;
    margin-bottom: 1em;
}

ul.link_dx a, ul.link_dx p
{
    border-style: solid;
    border-width: 3px;
    border-color: #E78C39;
    background-color: #FFE0C3;
    border-radius: 15px;
    padding: 0.2em 0.4em 0.2em 0.4em;
}

ul.link_dx li.chat_live {
    margin-left: 0.7em;
    margin-right: 0.06em;

}

#nav_dx a:active
{
    color: #3047b7;
    background-color: #E78C39;
}

a.buttondx, p.buttondx
{
    font-size: 1.5em;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
}

#btn_recensioni
{
    display: inline-block;
}

#btn_recensioni a
{
    border-style: solid;
    border-width: 3px;
    border-color: #E78C39;
    background-color: #FFE0C3;
    display: inline-block;
    border-radius: 15px;
    padding: 0.2em 2.84em 0.2em 2.85em;
    margin-right: 0.03em;
}

a:hover
{
    color: #2a39b2;
}

#btn_sondaggiPre
{
    margin-top: 1.5em;
    margin-bottom: 1.92em;
}

#btn_sondaggiPost
{
    margin-bottom: 1.92em;
}

#btn_sondaggiPre a, #btn_sondaggiPost a
{
    border-style: solid;
    border-width: 3px;
    border-color: #E78C39;
    background-color: #FFE0C3;
    border-radius: 15px;
    padding: 0.25em 0.2em 0.25em 0.2em;
}

#btn_sondaggiPost a
{
    font-size: 1.421em;
}

#btn_sondaggiPre a
{
    font-size: 1.491em;
}

#torna_su
{
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    border: solid 3px #E78C39;
    background-color: #ffffff;
    border-radius: 10px;
    width: 2em;
    height: 2em;
}

#freccia
{
    padding: 0.25em;
    max-width: 2em;
    max-height: 1.5em;
}

/*formattazione del footer*/
footer
{
    text-align: center;
    width: 100%;
    background: #E78C39;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    height: 8em;
    margin-top:2.5em;
}

footer a
{
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
}

footer a:hover
{
    opacity: 1;
    color: #ffffff
}

ul.prima_colonna, ul.seconda_colonna, ul.terza_colonna
{
    display: inline-block;
    margin-top: 1.6em;
}

ul.prima_colonna, ul.seconda_colonna
{
    margin-right: 13em;
}

nav.footer-nav li
{
    margin-bottom:0.8em;
}

.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}